doctype html

html(lang="en")
  head
    title Design Sprint for Distributted Teams
    meta(charset="utf-8")
    link(
      rel="stylesheet"
      href="../node_modules/reveal.js/css/reveal.scss"
    )
    link(
      rel="stylesheet"
      href="../node_modules/reveal.js/css/theme/source/simple.scss"
    )
    link(
      rel="stylesheet"
      href="../node_modules/@fortawesome/fontawesome-free/css/all.min.css"
    )

  body
    .reveal: .slides

      section
        h3 Content goes here 
        h2 It better be good

      section
        p Next slide

        aside.notes: pre.
          Speaker notes

      section
        h1 Design Sprint for Distributted Teams


      section
        h3 Today we are going to:

        ol
          li Bla bla bla
          li ...

      section
        h2 Some animations

        p.fragment.slide-in(style={ zoom: 3 }) 🥁

      section
        // Intentionally left blank

      section
        p And graphs

        .mermaid.
          graph LR
          a --> b
          a --> c
          b --> d

      section
        p And images

        img(
          src="./oreilly-design-sprint-cover.png"
          style={ 
            "border": "none",
            "box-shadow": "none" 
          }
        )


    script(type="text/javascript" src="./index.coffee" )
